:root{
    box-sizing: border-box;
    transition: all .5s ease-out;
}

*,
::before,
::after{
    box-sizing: inherit;
    transition: inherit;
}

/*GLOBAL/MOBILE FIRST*/

body{
    font-size: 1.2em;
    font-family: "Calibri", sans-serif;
    margin: 0;
}

h1{
    font-size: 1.8em;
    margin: .9em 0 0 0;
}

h2{
    font-size: 1.5em;
    margin: .9em 0 0 0;
}

figure{
    background-color: black;
    border-radius: .4em;
    color: white;
    text-align: center;
    margin: 0 0 .9em 0;
    padding: .8em;
}

img{
    max-width: 100%;
    flex: 1;
    object-fit: cover;
}

.container{
    margin: 0 .5em;
}

/*FLEX FIGURE*/

figure{
    display: flex;
    flex-direction: column;
}

/*EFFECTS*/

figure:hover{
    transition-duration: 1.5s;
    background-color: purple;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    body{
        background-color: aquamarine;
    }
figure{
    margin-right: 1.5em;
    width: calc(50% - 1.5em);
    float: left;
}

.kittens{
    margin-right: -1.5em;
}

.kittens::after{
    clear: both;
    content: " ";
    display: block;
}
}

@media screen and (min-width: 1024px) {

    body{
        background-color: lightgreen;
    }

    .container{
        max-width: 1024px;
        margin: 0 auto;
        padding: .5em 1.5em;
        background-color: white;
    }

}