:root{
    box-sizing: border-box;
    transition: all .5s ease-out;
}

*,
::before,
::after{
    box-sizing: inherit;
    transition: inherit;
}

/*GLOBAL/MOBILE FIRST*/

body{
    font-size: 1.2em;
    font-family: "Calibri", sans-serif;
    margin: 0;
}

h1{
    font-size: 1.8em;
    margin: .9em 0 0 0;
}

h2{
    font-size: 1.5em;
    margin: .9em 0 0 0;
}

figure{ /* mettiamoci d'accordo sul selettore... più in basso usi .kittens figure ... questo può provocare comportamenti imprevisti */
    min-width: 235px;
    background-color: black;
    border-radius: .4em;
    color: white;
    text-align: center;
    padding: .8em;
    margin: 0 0 1em 0;
}

img{
    max-width: 100%;
    flex: 1;
    object-fit: cover;
}

.container{
    margin: 0 .5em;
}

/*FLEX FIGURE*/

figure{
    display: flex;
    flex-direction: column;
}

/*EFFECTS*/

figure:hover{
    transition-duration: 1.5s;
    background-color: purple;
    cursor: pointer;
}

@media screen and (min-width:768px) { /* questa regola voglio che sia applicata da 768px */ 
    
    body {
        background-color: aquamarine;
    }

    .kittens::after {
        clear: both;
        content: " ";
        display: block;
    }

    .kittens figure { /* mettiamoci d'accordo sul riferimento a figure.. usa lo stesso selettore tra le mediaquery..*/
        margin-left: 0;
        margin-right: 1.5em;
        width: calc(50% - 0.75em); /* devi togliere la metà del margine che è applicato ad ogni elemento..*/
        float: left;
    }

}

@media screen and (min-width: 768px) and (max-width:1023px) {

    .kittens figure:nth-child(2n){
        margin-right: 0;
    }

}

@media screen and (min-width: 1024px) {

    body{
        background-color: lightgreen;
    }

    .container{
        max-width: 1024px;
        margin: 0 auto;
        padding: .5em 1.5em;
        background-color: white;
    }

    .kittens figure{
        margin-top: 0;
        margin-bottom: 1em;
        margin-right: 1em;
        margin-left: 0;
        width: calc(33.3% - .66em); /* Più la metà di margin-right + 1 terzo della metà (0.16 periodico).. */
        float: left;
    }

    .kittens figure:nth-child(3n){
        margin-right: 0;
    }

}